/*KHANT SI THU HEIN's CSS WORK*/


/*For Nav Bar*/
/* Show dropdown on hover */
.nav-item.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0;
}

/* Dropdown styling */
.dropdown-menu {
    border-radius: 8px;
}

/*Home nav item*/
.home_item {
    color: white !important;
}

/* Fix dropdown auto-close on hover */
.nav-item.dropdown:hover > a {
    color: black !important;
}

/* Dropdown item hover background color */
.dropdown-menu .dropdown-item:hover {
    background-color: #e0e0e0 !important;  /* stronger grey */              
}


/* Big title */
h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}

/* Subtitles */
h2, h3, h4, h5, h6 {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}

/* Normal paragraph text */
p {
    font-family: 'Nunito', sans-serif;
    font-weight: 400;
}

/* make all images size together */
.card-img {
    height: 220px;          
    width: 100%;              
    border-radius: 10px;   
}

/*For Page (2) (Causes Section)*/

.banner {
    height: 350px;
}

